*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.carousel{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.carousel__slider{
    position: absolute;
    display: flex;   
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
}
.carousel__images{   
    width: 100%;
    object-fit: contain;   
}
.carousel__controls i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background: rgba(0,0,0,.8);
    
}
.carousel__controls i:nth-child(2){
    right: 0;
}
.carousel__indicators{
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.carousel__indicator{    
    background: #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel__indicator--red{
    background: #bb6069;
    transition: background .6s ease;
}